<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Museum Main Page</title>
</head>
<body>


<!-- a navbar in the middle with searching bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Museum Main Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- search bar -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                       name="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
<a> <button type="button" class="btn btn-primary" onclick="location.href='edit.html'">Login</button></a>
</nav>



<!-- div of cards for every museum  -->
<div class="container mt-5 mb-3"  >
    <div class="row" >
        <div class="col-md-4" th:each="museum : ${museums}">
            <div class="card p-3 mb-2">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="icon"> <i class="bx bxl-dribbble"></i> </div>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0" th:text="${museum.street}"></h6> <span th:text="${museum.fee}">fee:</span> <span th:text="${museum.charge}">Charge:</span>
                        </div>
                    </div>
                    <div class="badge"> <span th:text="${museum.wikidata}"></span> </div>
                </div>
                <div class="mt-5">
                    <h3 class="heading" th:text="${museum.name}"></h3>
                    <div class="mt-5">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="mt-3"> <span class="text1">40 Reviews</span> </div>
                        <div class="mt-3"> <span class="text1" th:text="${museum.email}"></span> </div>
                        <div class="mt-3"> <span class="text1" th:text="${museum.internetAccess}"></span> </div>
                        <div class="mt-3"> <span class="text1" th:text="${museum.openingHours}"></span> </div>
                        <div class="mt-3"> <span class="text1" th:text="${museum.phone}"></span> </div>
                        <div class="mt-3"> <span class="text1" th:text="${museum.website}"></span> </div>
                        <div class="mt-3"> <span class="text1" th:text="${museum.id}"></span> </div>
                    </div>
                </div>
            </div>
        </div>
</div>






</body>
</html>