<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
  <meta charset="UTF-8">
  <title>Register Page</title>
</head>

<body>
<style>
  form{
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;
  }
</style>

<form>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>


  <!-- Username input -->
  <div class="form-outline mb-4">
    <input type="username" id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1">Username</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <!-- Submit button -->
  <button type="button" class="btn btn-primary btn-block mb-4">Sign Up</button>


</form>

<!-- footer that says made with love emoji -->


</body>
</html>